<launch>
	<!-- Bring up "cam_2" realsense camera -->
	<include file ="$(find realsense2_camera)/launch/rs_rgbd.launch">
		<arg name="camera" value="cam_2"/>
		<arg name="serial_no" value="843112073431"/>
	</include>

	<!-- Record RGB and depth data from the "cam_2" realsense camera -->
	<node name="frames_recorder_cam_2" pkg="fpv_intention_based_collaboration" type="frames_recorder.py">
		<remap from="/camera/color/image_raw" to="/cam_2/color/image_raw"/>
		<remap from="/camera/aligned_depth_to_color/image_raw" to="/cam_2/aligned_depth_to_color/image_raw"/>
		<param name="dir_rgb" value="/home/intuitive-computing/collab-data/collab-rgb-frames-cam-2"/>
		<param name="dir_depth" value="/home/intuitive-computing/collab-data/collab-depth-frames-cam-2"/>
	</node>
</launch>
