<launch>
	<!-- Bring up "cam_4" realsense camera -->
	<include file ="$(find realsense2_camera)/launch/rs_rgbd.launch">
		<arg name="camera" value="cam_4"/>
		<arg name="serial_no" value="841512070892"/>
		<arg name="filters" value="colorizer"/>
	</include>

	<!-- Record RGB and depth data from the "cam_4" realsense camera -->
	<node name="frames_recorder_cam_4" pkg="fpv_intention_based_collaboration" type="frames_recorder.py">
		<remap from="/camera/color/image_raw" to="/cam_4/color/image_raw"/>
		<remap from="/camera/aligned_depth_to_color/image_raw" to="/cam_4/aligned_depth_to_color/image_raw"/>
		<param name="dir_rgb" value="/home/gopika/collab-data/collab-rgb-frames-cam-4"/>
		<param name="dir_depth" value="/home/gopika/collab-data/collab-depth-frames-cam-4"/>
	</node>
</launch>
