<launch>
	<!-- Bring up web camera -->
	
	<arg name = "use_1080" default="false"/>

	<group if = "$(arg use_1080)">
		<node name="fpv_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
			<param name="video_device" value="/dev/video0" />
			<param name="image_width" value="1920" />
			<param name="image_height" value="1080" />
			<param name="pixel_format" value="mjpeg" />
			<param name="camera_frame_id" value="fpv_cam" />
			<param name="io_method" value="mmap"/>
			<param name="camera_info_url" value="file://$(find fpv_intention_based_collaboration)/camera_info/logitech_webcam_1080.yaml"/>
		
			<param name="camera_name" value="webcam"/>
			<param name="framerate" value="30" />
		</node>
	</group>

	<group unless = "$(arg use_1080)">
		<node name="fpv_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
			<param name="video_device" value="/dev/video0" />
			<param name="image_width" value="960" />
			<param name="image_height" value="540" />
			<param name="pixel_format" value="mjpeg" />
			<param name="camera_frame_id" value="fpv_cam" />
			<param name="io_method" value="mmap"/>
			<param name="camera_info_url" value="file://$(find fpv_intention_based_collaboration)/camera_info/logitech_webcam.yaml"/>
		
			<param name="camera_name" value="webcam"/>
			<param name="framerate" value="30" />
		</node>
	</group>

	<!-- Record RGB and depth data from the "cam_3" realsense camera -->

	<node name="frames_recorder_webcam" pkg="fpv_intention_based_collaboration" type="frames_recorder.py">
		<remap from="/camera/color/image_raw" to="/fpv_cam/image_raw"/>

		<!-- random value, because there is no depth image anyway -->
		<remap from="/camera/depth/image_rect_raw" to="/cam_3/depth/image_rect_raw"/>

		<param name="dir_rgb" value="/home/intuitivecomputing/collab-data/collab-rgb-frames-webcam"/>
		<param name="dir_depth" value="/home/intuitivecomputing/collab-data/collab-depth-frames-webcam"/>
	</node>


	<node name="voice_recorder" pkg="fpv_intention_based_collaboration" type="voice_recorder.py" output="screen" > 
		<param name="dir_audio" value="/home/intuitivecomputing/collab-data/audio"/>
	</node>

	<node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find fpv_intention_based_collaboration)/rviz/data_collection.rviz">
  </node>

	<node name = "rviz_gui" pkg ="fpv_intention_based_collaboration" type = "rviz_gui" output="screen" />
</launch>
